/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic body styles for Inter font */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
